 
/* app-fixedtable {
    visibility: hidden;
} */

.container-table{
    /* margin:150px auto ; */
    padding:150px 20px !important ; 
    width:100% ;
    height:900px !important ;
    overflow:visible;
    background-image: url("../../assets/images/banner/home-3/01.jpg");
}
td{
    color: white;
    
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sticky-wrap.overflow-y {
    position: relative;
    border-radius: 20px !important;
    
}
/*
.ta1{z-index:2 ;padding: 0px 75px 0px 0px;}
.ta2{z-index:1 ;}
 

.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}
td{
    color: black;
    
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
thead {
    width:100px ;
    line-height:2rem ;
}
tbody{
    display: none;
    max-height:100px !important ;
    overflow: hidden;
}


 */
