
        <!-- Service Section Start Here -->
		<section class="service-section home-3 padding-tb" style="background-image: url(assets/css/bg-image/service-bg.jpg);" id="symptoms">
            <div class="container">
                <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
                    <h2>Corona Virus Symptoms</h2>
                    <p> Dynamically formulate fully tested catalysts for change via focused methods of empowerment Assertively extend alternative synergy and extensive web services.</p>
                </div>
                <div class="section-wrapper">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item style-2">
                                <div class="service-inner">
                                    <div class="service-thumb">
                                        <img src="assets/images/service/home-3/service/01.jpg" alt="service">
                                    </div>
                                    <div class="service-content">
                                        <h4>Coughing And Sneezing</h4>
                                        <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="service-item style-2">
                                <div class="service-inner">
                                    <div class="service-thumb">
                                        <img src="assets/images/service/home-3/service/02.jpg" alt="service">
                                    </div>
                                    <div class="service-content">
                                        <h4>Hot Fever</h4>
                                        <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="service-item style-2">
                                <div class="service-inner">
                                    <div class="service-thumb">
                                        <img src="assets/images/service/home-3/service/03.jpg" alt="service">
                                    </div>
                                    <div class="service-content">
                                        <h4>Strong Headacke</h4>
                                        <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="service-item style-2">
                                <div class="service-inner">
                                    <div class="service-thumb">
                                        <img src="assets/images/service/home-3/service/04.jpg" alt="service">
                                    </div>
                                    <div class="service-content">
                                        <h4>Shortness Of Breath</h4>
                                        <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="service-item style-2">
                                <div class="service-inner">
                                    <div class="service-thumb">
                                        <img src="assets/images/service/home-3/service/05.jpg" alt="service">
                                    </div>
                                    <div class="service-content">
                                        <h4>Confusion</h4>
                                        <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.8s">
                            <div class="service-item style-2">
                                <div class="service-inner">
                                    <div class="service-thumb">
                                        <img src="assets/images/service/home-3/service/06.jpg" alt="service">
                                    </div>
                                    <div class="service-content">
                                        <h4>Sore Throat</h4>
                                        <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Section Ending Here -->
