
		<!-- Blog Section Start Here -->
		<section class="blog-section home-3 bgc-blog padding-tb" id="blog">
            <div class="container">
				<div class="section-header wow fadeInUp" data-wow-delay="0.3s">
                    <h2>Our Most Popular Blog</h2>
                    <p> Dynamically formulate fully tested catalysts for change via focused methods of empowerment Assertively extend alternative synergy and extensive web services.</p>
                </div>
                <div class="section-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="post-item style-2">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <a href="#"><img src="assets/images/blog/01.jpg" alt="lab-blog"></a>
                                    </div>
                                    <div class="post-content">
                                        <h5><a href="#">Conulting Reporting Qouncil Arei 
											Not Could More...</a></h5>
                                        <div class="author-date">
                                            <a href="#" class="date"><i class="icofont-calendar"></i>July 12, 2020</a>
                                            <a href="#" class="admin"><i class="icofont-ui-user"></i>Somrat Islam</a>
                                        </div>
                                        <p>Pluoresntly customize pranci an plcentered  customer service anding strategic amerials Interacvely cordinate performe</p>
                                        <div class="post-footer">
                                            <a href="#" class="text-btn">Read More<i class="icofont-double-right"></i></a>
                                            <a href="#" class="comments"><i class="icofont-comment"></i><span>2</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="post-item style-2">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <a href="#"><img src="assets/images/blog/02.jpg" alt="lab-blog"></a>
                                    </div>
                                    <div class="post-content">
                                        <h5><a href="#">Financial Reporting Qouncil What Could More...</a></h5>
                                        <div class="author-date">
                                            <a href="#" class="date"><i class="icofont-calendar"></i>July 12, 2020</a>
                                            <a href="#" class="admin"><i class="icofont-ui-user"></i>Somrat Islam</a>
                                        </div>
                                        <p>Pluoresntly customize pranci an plcentered  customer service anding strategic amerials Interacvely cordinate performe</p>
                                        <div class="post-footer">
                                            <a href="#" class="text-btn">Read More<i class="icofont-double-right"></i></a>
                                            <a href="#" class="comments"><i class="icofont-comment"></i><span>2</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="post-item style-2">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <a href="#"><img src="assets/images/blog/03.jpg" alt="lab-blog"></a>
                                    </div>
                                    <div class="post-content">
                                        <h5><a href="#">Consulting Reporting Qounc Arei Could More...</a></h5>
                                        <div class="author-date">
                                            <a href="#" class="date"><i class="icofont-calendar"></i>July 12, 2020</a>
                                            <a href="#" class="admin"><i class="icofont-ui-user"></i>Somrat Islam</a>
                                        </div>
                                        <p>Pluoresntly customize pranci an plcentered  customer service anding strategic amerials Interacvely cordinate performe</p>
                                        <div class="post-footer">
                                            <a href="#" class="text-btn">Read More<i class="icofont-double-right"></i></a>
                                            <a href="#" class="comments"><i class="icofont-comment"></i><span>2</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Section Ending Here -->

          <!-- Contact Section Start Here  padding-tb-->
          <section class="contact-us pt-5 pb-0" id="contact">
              <div class="container">
                <h2 class="card-header text-capitalize font-italic wow fadeInLeft shadow-lg">contact me here <i class="far fa-hand-point-down text-danger" aria-hidden="true"></i>
                </h2>
                <br>
                <div class="contact-wrap">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 wow fadeInLeft" data-wow-delay="0.3s">
                            <ul class="contact-area lab-ul">
                                <li class="contact-item">
                                    <div class="contact-icon">
                                        <img src="assets/images/contact/icon/01.png" alt="contact">
                                    </div>
                                    <div class="content">
                                        <h6>Our Location</h6>
                                        <p>4995 Al Haram, Giza <br> &&Fayoum,El-Centeral Street</p>
                                    </div>
                                </li>
                                <li class="contact-item">
                                    <div class="contact-icon">
                                        <img src="assets/images/contact/icon/02.png" alt="contact">
                                    </div>
                                    <div class="content">
                                        <h6>Phone Number</h6>
                                        <p><a href="tel:+201221966084">+20 1221966084</a><br> <a href="tel:+201068644570">+20 1068644570</a></p>
                                    </div>
                                </li>
                                <li class="contact-item">
                                    <div class="contact-icon">
                                        <img src="assets/images/contact/icon/03.png" alt="contact">
                                    </div>
                                    <div class="content">
                                        <h6>Email Address</h6>
                                        <p><a href="mailto:AbanoubSamir@gamil.Com">AbanoubSamir@gamil.Com</a></p>
                                    </div>
                                </li>
                                <li class="contact-item">
                                    <div class="contact-icon">
                                        <img src="assets/images/contact/icon/04.png" alt="contact">
                                    </div>
                                    <div class="content">
                                        <h6>Website Address:</h6>
                                        <p><a href="https://abanoubsamirnaguib.github.io/AbanoubSamir">https://abanoubsamirnaguib.
                                            github.io/AbanoubSamir</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- #contactNgForm="ngForm" -->
                        <div class="col-lg-8 col-md-6 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
                            <form class="contact-form" action="" method="POST" [formGroup]="contact"  (ngSubmit)="onSubmit()">
                                <input type="text" name="name" placeholder="Your Name" class="contact-input"  formControlName="Name">
                                <input type="email" name="email" placeholder="Your Email" class="contact-input"  formControlName="Email">
                                <input type="text" name="text" placeholder="Your Address" class="contact-input"  formControlName="Address">
                                <input type="text" name="text" placeholder="Your Company" class="contact-input"  formControlName="Company">
                                <textarea rows="5" class="contact-input" placeholder="Your Messages"  formControlName="Messages"></textarea >
                                <input type="submit" name="submit" value="Send Message" class="lab-btn" [disabled]="!contact.valid" [class]="!contact.valid ? 'disabled': 'lab-btn' " >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section Ending Here -->