   <!-- about section start here -->
   <section class="about-section style-3 bg-about padding-tb" id="about">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="about-thumb">
                    <img src="assets/images/about/home-3/01.png" alt="about">
                </div>
            </div>
            <div class="col-lg-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="about-content">
                    <div class="ab-title">
                        <span>How Virus Spread</span>
                        <h3>How Contagion Coronavirus</h3>
                        <p>Don’t get shirty with mein owtto doing with me arse down the problems have it car boot happy days no biggie bevvy only awesome quid I,m goods info my theme flat the lttle rotter cheeky boot happy days</p>
                        <ul class="lab-ul">
                            <li>
                                <div class="ab-thumb">
                                    <img src="assets/images/about/icon/home-3/01.jpg" alt="ab-thumb">
                                </div>
                                <div class="ab-content">
                                    <h6>Human Contact</h6>
                                    <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                </div>
                            </li>
                            <li>
                                <div class="ab-thumb">
                                    <img src="assets/images/about/icon/home-3/02.jpg" alt="ab-thumb">
                                </div>
                                <div class="ab-content">
                                    <h6>Air Transmission</h6>
                                    <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                </div>
                            </li>
                            <li>
                                <div class="ab-thumb">
                                    <img src="assets/images/about/icon/home-3/03.jpg" alt="ab-thumb">
                                </div>
                                <div class="ab-content">
                                    <h6>Contaminated Objects</h6>
                                    <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section start here -->

