
<!-- Mobile Menu Start Here -->
<div class="mobile-menu" id="home">
  <nav class="mobile-header">
    <div class="header-logo w-50">
      <a href="index.html">
        <h3 class="d-inline">{{Date | date}}</h3>
        <img src="assets/images/logo/01.png" alt="logo">
      </a>
    </div>
    <div class="header-bar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <nav class="mobile-menu">
    <div class="mobile-menu-area">
      <div class="mobile-menu-area-inner">
        <ul class="lab-ul">
          <li><a routerLink="home" >Home</a></li>
          <li><a  routerLink="country">countrys</a></li>
          <li><a  routerLink="Virus-Spread"> Virus Spread</a></li>
          <li><a  routerLink="symptoms">symptoms</a></li>
          <li><a  routerLink="Prevention">Prevention</a></li>
          <li><a  routerLink="doctors">doctors</a></li>
          <li><a routerLink="about">about-US</a></li>
                    </ul>
      </div>
    </div>
  </nav>
</div>
<!-- Mobile Menu Ending Here -->

<!-- desktop menu start here -->
<header class="header-section transparent-header" id="home">
  <div class="header-area">
    <div class="container">
      <div class="primary-menu">
        <div class="logo w-100">
          <a href="index.html">
            <h3 class="d-inline float-right text-white">{{ Date  | date}} </h3>
            <img class="d-inline float-left" src="assets/images/logo/03.png" alt="logo">
          </a>
         
                    </div>
        <div class="main-area">
          <div class="main-menu">
            <ul class="lab-ul">
              <li><a  routerLink="home" routerLinkActive="active">Home</a></li>
              <li><a  routerLink="country" routerLinkActive="active">Countries</a></li>
              <li><a  routerLink="Virus-Spread" routerLinkActive="active"> Virus Spread</a></li>
              <li><a  routerLink="symptoms" routerLinkActive="active">Symptoms</a></li>
              <li><a  routerLink="Prevention" routerLinkActive="active">Prevention</a></li>
              <li><a  routerLink="doctors" routerLinkActive="active">Doctors</a></li>
              <li><a routerLink="about" routerLinkActive="active">About-US</a></li>
            </ul>
          </div>
          <!-- <div class="header-btn">
            <a href="#" class="lab-btn style-2"><span>are you sick</span></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</header>