
<section class="footer">
    <div class="container ">
        
<div class="mt-1 icons">
<a href="https://www.facebook.com/abanoub.samir.501" target="_blank" ><i class="facebook  fab fa-facebook-f fa-1x" ></i></a>
<a href="https://www.linkedin.com/in/abanoub-naguib-68b723132" target="_blank"><i class="linkedin fab fa-linkedin fa-1x "></i></a>
<!-- <a href="https://www.facebook.com/abanoub.samir.501" target="_blank"><i class="twitter fab fa-twitter fa-1x "></i></a> -->
<a href="https://github.com/abanoubsamirnaguib" target="_blank"><i class="github fab fa-github fa-1x "></i></a>

<a class="btn btn-warning button " id="CV2" target="_blank" href="https://drive.google.com/file/d/1x3dcYqc5BO58ghwwJf6bKOB4Shr1WI2r/view" >C.V</a>                     
</div>
        </div>
    <div>
        <p class="text-white text-center">
            Address : 4995 Al Haram, Giza | Phone : 020-1221966084 | Email : AbanoubSamir@gamil.com
        </p>
        <hr class="pt-0">
        <p class="text-white text-center"> <i class="far fa-copyright"></i>  Abanoub - CREATED BY <span>Abanoub Samir</span></p>
    </div>
</section>