<!-- Service Section Start Here -->
<section class="service-section home-3 style-2 padding-tb" style="background-image: url(assets/css/bg-image/service-bg.jpg);" id="prevention">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
            <h2>Prevention Coronavirus Covid-19</h2>
            <p> Dynamically formulate fully tested catalysts for change via focused methods of empowerment Assertively extend alternative synergy and extensive web services.</p>
        </div>
        <div class="section-wrapper">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-left">
                        <h3>What you should do</h3>
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/01.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Wash your hands sanitizer</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/02.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Ware a face mask outside</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/03.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Cover your cough tissue paper</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/04.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Check your body regulerly</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-right">
                        <h3>What you should avoid</h3>
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/05.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Avoid contact with sick people</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/06.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Avoid contact animals</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/07.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Avoid crowded places</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="assets/images/service/home-3/08.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Contaminated objects</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section Ending Here -->
